**The Intern Academy**

**50Â°C Summer Internship Program**

**AUTHOR : HERMAN TERRY I**

**Parkinson's diseases detection**

**Task details:**

This dataset is composed of a range of biomedical voice measurements from
31 people, 23 with Parkinson's disease (PD). Each column in the table is a
particular voice measure, and each row corresponds to one of 195 voice
recordings from these individuals ("name" column). The main aim of the data
is to discriminate healthy people from those with PD, according to the "status"
column which is set to 0 for healthy and 1 for PD.

**IMPORTING DATASET**

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [27]:
dataset = pd.read_csv('/content/parkinsons.data.csv')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              195 non-null    object
 1   MDVP:Fo(Hz)       195 non-null    float64
 2   MDVP:Fhi(Hz)      195 non-null    float64
 3   MDVP:Flo(Hz)      195 non-null    float64
 4   MDVP:Jitter(%)    195 non-null    float64
 5   MDVP:Jitter(Abs)  195 non-null    float64
 6   MDVP:RAP          195 non-null    float64
 7   MDVP:PPQ          195 non-null    float64
 8   Jitter:DDP        195 non-null    float64
 9   MDVP:Shimmer      195 non-null    float64
 10  MDVP:Shimmer(dB)  195 non-null    float64
 11  Shimmer:APQ3      195 non-null    float64
 12  Shimmer:APQ5      195 non-null    float64
 13  MDVP:APQ          195 non-null    float64
 14  Shimmer:DDA       195 non-null    float64
 15  NHR               195 non-null    float64
 16  HNR               195 non-null    float64
 17  RPDE              195 non-null    float64
 18  DFA               195 non-null    float64
 19  spread1           195 non-null    float64
 20  spread2           195 non-null    float64
 21  D2                195 non-null    float64
 22  PPE               195 non-null    float64
 23  status            195 non-null    int64
dtypes: float64(22), int64(1), object(1)
memory usage: 36.7+ KB

In [28]:
name=dataset['name']

In [29]:
dataset.drop(['name'], axis=1, inplace=True)

In [30]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MDVP:Fo(Hz)       195 non-null    float64
 1   MDVP:Fhi(Hz)      195 non-null    float64
 2   MDVP:Flo(Hz)      195 non-null    float64
 3   MDVP:Jitter(%)    195 non-null    float64
 4   MDVP:Jitter(Abs)  195 non-null    float64
 5   MDVP:RAP          195 non-null    float64
 6   MDVP:PPQ          195 non-null    float64
 7   Jitter:DDP        195 non-null    float64
 8   MDVP:Shimmer      195 non-null    float64
 9   MDVP:Shimmer(dB)  195 non-null    float64
 10  Shimmer:APQ3      195 non-null    float64
 11  Shimmer:APQ5      195 non-null    float64
 12  MDVP:APQ          195 non-null    float64
 13  Shimmer:DDA       195 non-null    float64
 14  NHR               195 non-null    float64
 15  HNR               195 non-null    float64
 16  RPDE              195 non-null    float64
 17  DFA               195 non-null    float64
 18  spread1           195 non-null    float64
 19  spread2           195 non-null    float64
 20  D2                195 non-null    float64
 21  PPE               195 non-null    float64
 22  status            195 non-null    int64
dtypes: float64(22), int64(1)
memory usage: 35.2 KB

**TRAINING DATASET**

In [44]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)
print(X_train)

[[1.482720e+02 1.649890e+02 1.422990e+02 ... 8.784000e-02 2.344336e+00
  1.864890e-01]
 [1.162860e+02 1.772910e+02 9.698300e+01 ... 1.339170e-01 2.058658e+00
  2.143460e-01]
 [1.636560e+02 2.008410e+02 7.677900e+01 ... 2.208900e-01 2.692176e+00
  2.159610e-01]
 ...
 [1.707560e+02 4.502470e+02 7.903200e+01 ... 3.721140e-01 2.975889e+00
  2.827800e-01]
 [2.524550e+02 2.614870e+02 1.827860e+02 ... 2.008730e-01 2.028612e+00
  8.639800e-02]
 [1.107390e+02 1.135970e+02 1.001390e+02 ... 1.923750e-01 1.889002e+00
  1.741520e-01]]

In [42]:
y_test

array([1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1])

**DATA PREPROCESSING**

In [32]:
from sklearn.preprocessing import StandardScaler	
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

**TRAINING MODEL**

In [50]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
cf=classifier.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

**INFORMATION ON THE MODEL**

In [49]:
cf.intercept_

array([2.41941001])

In [34]:
cf.coef_

array([[-0.36467424, -0.18963561, -0.08087498, -0.55668145, -0.40446092,
         0.35688054, -0.38936402,  0.35704717,  0.4011406 ,  0.32010808,
        -0.10063413,  0.44862599,  0.81662531, -0.1008186 , -0.07182521,
         0.45501002, -0.80293441,  0.13465027,  1.15935581,  0.65386924,
         0.57687768,  0.98886227]])

In [35]:
cf.predict_proba(X)

array([[1.00000000e+00, 8.84265750e-32],
       [1.00000000e+00, 1.05884486e-32],
       [1.00000000e+00, 3.20320845e-30],
       [1.00000000e+00, 1.44825427e-30],
       [1.00000000e+00, 8.90074528e-31],
       [1.00000000e+00, 1.05268127e-30],
       [1.00000000e+00, 1.74145447e-31],
       [1.00000000e+00, 5.11919238e-27],
       [1.00000000e+00, 9.39640496e-27],
       [1.00000000e+00, 2.63700810e-25],
       [1.00000000e+00, 1.21802714e-23],
       [1.00000000e+00, 2.69061906e-24],
       [1.00000000e+00, 7.64945975e-37],
       [1.00000000e+00, 2.20798374e-36],
       [1.00000000e+00, 1.40239327e-37],
       [1.00000000e+00, 3.71489177e-40],
       [1.00000000e+00, 6.66699206e-52],
       [1.00000000e+00, 1.08840191e-44],
       [1.00000000e+00, 2.02560810e-38],
       [1.00000000e+00, 3.95120117e-43],
       [1.00000000e+00, 8.38781075e-38],
       [1.00000000e+00, 4.53368638e-39],
       [1.00000000e+00, 7.09414314e-42],
       [1.00000000e+00, 5.37305003e-44],
       [1.00000000e+00, 3.71481333e-42],
       [1.00000000e+00, 1.49824797e-33],
       [1.00000000e+00, 7.39592320e-44],
       [1.00000000e+00, 1.58948537e-40],
       [1.00000000e+00, 1.11809345e-43],
       [1.00000000e+00, 3.23302418e-42],
       [1.00000000e+00, 1.21137683e-52],
       [1.00000000e+00, 1.80745189e-52],
       [1.00000000e+00, 1.04786563e-52],
       [1.00000000e+00, 4.40690688e-53],
       [1.00000000e+00, 2.77933214e-53],
       [1.00000000e+00, 8.18013445e-53],
       [1.00000000e+00, 1.95370201e-47],
       [1.00000000e+00, 5.62141547e-46],
       [1.00000000e+00, 2.68384921e-48],
       [1.00000000e+00, 2.69165305e-49],
       [1.00000000e+00, 4.61141197e-49],
       [1.00000000e+00, 1.42165478e-48],
       [1.00000000e+00, 4.44475695e-64],
       [1.00000000e+00, 7.57495000e-65],
       [1.00000000e+00, 4.83067475e-65],
       [1.00000000e+00, 3.81508838e-65],
       [1.00000000e+00, 1.88686128e-66],
       [1.00000000e+00, 1.47935514e-65],
       [1.00000000e+00, 7.90020182e-32],
       [1.00000000e+00, 1.09309647e-31],
       [1.00000000e+00, 1.49911567e-32],
       [1.00000000e+00, 1.74740417e-32],
       [1.00000000e+00, 9.33274938e-34],
       [1.00000000e+00, 1.26893535e-33],
       [1.00000000e+00, 3.38589315e-29],
       [1.00000000e+00, 1.32995732e-28],
       [1.00000000e+00, 5.64846863e-29],
       [1.00000000e+00, 5.20873749e-30],
       [1.00000000e+00, 4.69263980e-30],
       [1.00000000e+00, 2.38227811e-41],
       [1.00000000e+00, 4.59993315e-54],
       [1.00000000e+00, 3.83708437e-56],
       [1.00000000e+00, 5.86980015e-59],
       [1.00000000e+00, 5.80581648e-61],
       [1.00000000e+00, 1.38477230e-62],
       [1.00000000e+00, 6.10957400e-58],
       [1.00000000e+00, 1.39570263e-35],
       [1.00000000e+00, 1.74373034e-35],
       [1.00000000e+00, 2.06270497e-36],
       [1.00000000e+00, 3.58313569e-37],
       [1.00000000e+00, 3.36569223e-36],
       [1.00000000e+00, 2.63444336e-36],
       [1.00000000e+00, 2.62019419e-31],
       [1.00000000e+00, 5.30819876e-67],
       [1.00000000e+00, 1.55510302e-28],
       [1.00000000e+00, 3.39363035e-28],
       [1.00000000e+00, 3.11167209e-31],
       [1.00000000e+00, 2.50879406e-28],
       [1.00000000e+00, 4.65749371e-24],
       [1.00000000e+00, 3.76544415e-26],
       [1.00000000e+00, 1.63045621e-24],
       [1.00000000e+00, 7.83607507e-25],
       [1.00000000e+00, 6.72583268e-26],
       [1.00000000e+00, 5.61452348e-25],
       [1.00000000e+00, 2.84840866e-46],
       [1.00000000e+00, 4.43402069e-49],
       [1.00000000e+00, 7.16811224e-49],
       [1.00000000e+00, 7.50724998e-50],
       [1.00000000e+00, 2.27332258e-46],
       [1.00000000e+00, 1.31753070e-50],
       [1.00000000e+00, 1.02597237e-44],
       [1.00000000e+00, 5.40765092e-41],
       [1.00000000e+00, 2.21016199e-40],
       [1.00000000e+00, 4.51692434e-38],
       [1.00000000e+00, 1.72216489e-39],
       [1.00000000e+00, 1.60098179e-41],
       [1.00000000e+00, 6.48775498e-42],
       [1.00000000e+00, 1.24682546e-33],
       [1.00000000e+00, 2.12071449e-33],
       [1.00000000e+00, 1.69211365e-33],
       [1.00000000e+00, 1.89781747e-34],
       [1.00000000e+00, 2.21425895e-33],
       [1.00000000e+00, 5.34021095e-71],
       [1.00000000e+00, 1.71303092e-36],
       [1.00000000e+00, 3.48198643e-39],
       [1.00000000e+00, 7.67232070e-39],
       [1.00000000e+00, 7.56732898e-40],
       [1.00000000e+00, 9.04203461e-39],
       [1.00000000e+00, 3.12988774e-38],
       [1.00000000e+00, 3.79751415e-48],
       [1.00000000e+00, 2.25268225e-50],
       [1.00000000e+00, 5.65037975e-56],
       [1.00000000e+00, 1.53088455e-54],
       [1.00000000e+00, 2.88948337e-56],
       [1.00000000e+00, 1.71339520e-52],
       [1.00000000e+00, 1.29145217e-63],
       [1.00000000e+00, 7.93889602e-61],
       [1.00000000e+00, 6.12110999e-63],
       [1.00000000e+00, 5.70721538e-64],
       [1.00000000e+00, 1.11774183e-53],
       [1.00000000e+00, 3.35545229e-60],
       [1.00000000e+00, 1.34653977e-44],
       [1.00000000e+00, 9.31207918e-40],
       [1.00000000e+00, 5.39903471e-46],
       [1.00000000e+00, 5.07012046e-42],
       [1.00000000e+00, 1.81522344e-40],
       [1.00000000e+00, 2.12603915e-39],
       [1.00000000e+00, 4.31967537e-44],
       [1.00000000e+00, 1.85897222e-30],
       [1.00000000e+00, 4.87345199e-30],
       [1.00000000e+00, 1.73983638e-30],
       [1.00000000e+00, 5.53216426e-30],
       [1.00000000e+00, 2.62742868e-29],
       [1.00000000e+00, 3.36415273e-30],
       [1.00000000e+00, 1.04598331e-27],
       [1.00000000e+00, 7.72896695e-30],
       [1.00000000e+00, 3.83576141e-30],
       [1.00000000e+00, 4.13130793e-30],
       [1.00000000e+00, 3.05053533e-30],
       [1.00000000e+00, 2.20912386e-31],
       [1.00000000e+00, 1.65436301e-49],
       [1.00000000e+00, 1.31992245e-55],
       [1.00000000e+00, 7.94288658e-53],
       [1.00000000e+00, 1.59611253e-52],
       [1.00000000e+00, 1.02729186e-55],
       [1.00000000e+00, 8.52313775e-58],
       [1.00000000e+00, 1.03105554e-45],
       [1.00000000e+00, 1.51185166e-50],
       [1.00000000e+00, 2.23091881e-51],
       [1.00000000e+00, 4.02874560e-83],
       [1.00000000e+00, 9.34697128e-51],
       [1.00000000e+00, 5.56778724e-53],
       [1.00000000e+00, 8.03055184e-55],
       [1.00000000e+00, 1.64695598e-31],
       [1.00000000e+00, 1.96441258e-29],
       [1.00000000e+00, 6.21240459e-29],
       [1.00000000e+00, 1.32042278e-31],
       [1.00000000e+00, 4.44216902e-30],
       [1.00000000e+00, 2.62154868e-33],
       [1.00000000e+00, 1.25464009e-33],
       [1.00000000e+00, 1.10798693e-28],
       [1.00000000e+00, 4.68267737e-31],
       [1.00000000e+00, 7.35113415e-30],
       [1.00000000e+00, 7.43716526e-30],
       [1.00000000e+00, 1.02215671e-27],
       [1.00000000e+00, 6.37704611e-59],
       [1.00000000e+00, 1.45057128e-63],
       [1.00000000e+00, 3.56895827e-70],
       [1.00000000e+00, 2.35210370e-50],
       [1.00000000e+00, 1.60806445e-64],
       [1.00000000e+00, 3.24231080e-68],
       [1.00000000e+00, 1.49177660e-29],
       [1.00000000e+00, 2.32895213e-27],
       [1.00000000e+00, 6.82084582e-28],
       [1.00000000e+00, 4.51679386e-31],
       [1.00000000e+00, 3.28110303e-29],
       [1.00000000e+00, 7.17539897e-30],
       [1.00000000e+00, 9.06332217e-42],
       [1.00000000e+00, 6.67080807e-39],
       [1.00000000e+00, 3.97456569e-38],
       [1.00000000e+00, 5.58732723e-40],
       [1.00000000e+00, 4.81400350e-39],
       [1.00000000e+00, 6.07616145e-40],
       [1.00000000e+00, 6.05244080e-30],
       [1.00000000e+00, 2.61110839e-37],
       [1.00000000e+00, 1.24597961e-33],
       [1.00000000e+00, 6.43358193e-68],
       [1.00000000e+00, 4.93333259e-67],
       [1.00000000e+00, 1.01414702e-28],
       [1.00000000e+00, 4.25723044e-55],
       [1.00000000e+00, 2.55435758e-48],
       [1.00000000e+00, 1.97676035e-55],
       [1.00000000e+00, 6.86638753e-49],
       [1.00000000e+00, 1.51096834e-65],
       [1.00000000e+00, 8.24566345e-56]])

In [36]:
cf.score(X,y)

0.24615384615384617

In [37]:
y_pred = classifier.predict(X_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 1]
 [0 1]
 [0 0]
 [1 1]
 [1 0]
 [1 1]
 [1 1]
 [0 1]
 [1 1]
 [1 1]
 [0 1]
 [1 1]
 [0 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]]

In [38]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[ 8  3]
 [ 5 33]]

0.8367346938775511

**PREDICTING A RANDOM VALUE**

In [41]:
print(classifier.predict(sc.transform([[197.076, 206.896, 192.055, 0.00289, 0.00001, 0.00166, 0.00168, 0.00498,	0.01098, 0.097, 0.00563, 0.0068, 0.00802, 0.01689, 0.00339, 26.775, 0.422229, 0.741367, -7.3483, 0.177551, 1.743867, 0.085569
]])))

[0]

THE RESULT IS SAME AS THE VALUE GIVEN IN THE DATASET

In [40]:
df = pd.DataFrame({ 'Actual': y_test, 'Predicted': y_pred})  
df

    Actual  Predicted
0        1          0
1        1          0
2        0          0
3        1          1
4        0          1
5        1          1
6        1          1
7        1          0
8        1          1
9        1          1
10       1          0
11       1          1
12       1          0
13       1          1
14       0          0
15       1          1
16       1          1
17       0          0
18       0          0
19       1          1
20       1          1
21       0          1
22       1          1
23       1          1
24       0          0
25       1          1
26       1          1
27       0          0
28       0          1
29       0          0
30       1          1
31       1          1
32       1          1
33       1          1
34       1          1
35       1          1
36       1          1
37       1          1
38       1          1
39       1          1
40       1          1
41       1          1
42       1          1
43       1          1
44       0          0
45       1          1
46       1          1
47       1          1
48       1          1